<section class="content-header">
  <span class="pull-right">
    <%= link_to "New Car", admin_car_new_path, class: "btn btn-primary btn-md"%>
  </span>
  <h1>Cars</h1>
  
</section>
<section class="content">
  <table>
    <thead>
      <tr>
  	  <th>Name</th>
  	  <th>Price</th>
  	  <th>Manufacturer</th>
      <th>Model</th>
      <th>Year</th>
      <th>User</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car|%>
    	  <tr>
    		<td><%=car.car_name%></td>
    		<td><%=car.price%></td>
    		<td><%=car.manufacturer%></td>
        <td><%=car.model%></td>
        <td><%=car.year%></td>
        <td><%=car.user.name%></td>
        <td><%=link_to "Show", "/admin/car/show/#{car.id}", class: 'btn btn-primary'%>
          <%=link_to "Edit", "/admin/car/edit/#{car.id}", class: 'btn btn-primary'%>
          <%=link_to 'Delete', "#", class: 'btn btn-primary'%>
        </td>
    	  </tr>
    	<% end %>
    </tbody>
  </table>
</section>s