<section class="content-header">
  <span class="pull-right">
    <%= link_to "Back", admin_car_path, class: "btn btn-primary btn-md"%>
  </span>
  <h1><%=@car.car_name.upcase%>'s Profile</h1>
  
<section class="content">
  <table>
    <thead>
      <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Make</th>
      <th>Price</th>
      <th>Manufacturer</th>
      <th>Registration Date</th>
      <th>User</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><%=@car.car_name%></td>
          <td><%=@car.model%></td>
          <td><%=@car.make%></td>
          <td><%=@car.price%></td>
          <td><%=@car.manufacturer%></td>
          <td><%=@car.registration_date%></td>
          <td><%=@car.user.name%></td>
          <td><%=link_to "Edit", "/admin/car/edit/#{@car.id}", class: 'btn btn-primary'%>
            <%=link_to 'Delete', "#", class: 'btn btn-primary'%>
            
          </td>
      </tr> 
    </tbody>
  </table>
</section>