<section class="content-header">
  <h1>Dashboard</h1>
  <ol class="breadcrumb">
    <li><a href="#"> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
  <table >
   	<thead>
   		<tr>
   			<th>Model Name</td>
   			<th>Last Created</td>
   			<th>Records</td>			
   		</tr>
   	</thead>
   	<tbody>
   	  <% @models.each do |m| %>
        <tr>
         	<td><%= m %></td>
          <%if((m.constantize.order('created_at DESC').first.created_at.day - Time.now.day) > 0) %>
            <td><%= m.constantize.order('created_at DESC').first.created_at.day - Time.now.day %> days ago</td>
          <% elsif(( m.constantize.order('created_at DESC').first.created_at.hour - Time.now.hour )>0) %>
            <td><%= m.constantize.order('created_at DESC').first.created_at.hour - Time.now.hour%> hours ago</td>
          <% else %>
            <td><%= m.constantize.order('created_at DESC').first.created_at.min - Time.now.min %> minutes ago</td>
          <% end %> 
          <td><%=m.constantize.all.count%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

        



 