<section class="content-header">
  <span class="pull-right">
    <%= link_to "New User", admin_user_new_path, class: "btn btn-primary btn-md"%>
  </span>
  <h1>Users </h1>
  
</section>
<section class="content">
<table>
  <thead>
    <tr>
	  <th>Name</th>
	  <th>Email Address</th>
	  <th>Created At</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user|%>
  	  <tr>
  		<td><%=user.name%></td>
  		<td><%=user.email%></td>
  		<td><%=user.created_at.to_date%></td>
      <td><%= link_to "show", "/admin/users/show/#{user.id}", class: "btn btn-primary" %>
        <% if(current_user.id == user.id) %>
          <%= link_to "edit", "/admin/user/edit/#{user.id}", class: "btn btn-primary" %>
          <%= link_to "delete", '#', class: "btn btn-primary" %>
        <% end %>
      </td>

  	  </tr>
  	<% end %>
  </tbody>
</table>
</section>