<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini">
      <b>CR</b>
      A
    </span>
    <span class="logo-lg">
      <b>CAR</b>
      VILLA
    </span>
  </a>
  <nav class="navbar navbar-static top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      <%if current_user %>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag("Circle-Solid-Profile-512.png", class: "user-image", alt: "User image") %>
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag("Circle-Solid-Profile-512.png", class: "img-circle", alt: "User image") %>
              <p><%= current_user.name %></p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <%= link_to "Signout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
              </div>
            </li>
          </ul>

        </li>
        <% else %>
        <li class="dropdown user user-menu"><%= link_to "Login", new_user_session_path, class: "btn btn-xs btn-success btn-custom" %></li>
        <%end%>
      </ul>
    </div>
  </nav>
</header>
